<footer>
  <br />
  <div>
    <p>Copyright © 2022 - WestMec Central Campus</p>
  </div>
</footer>


<style>
  footer {
    width: 100%;
    display: flex;
    padding: 3rem;
    background-color: var(--theme-bg);
    text-align: center;
    justify-content: center;
    align-items: center;
  }

</style>